.header-container{
    background-image: url(../../../images/bgImage.jpg);
    position: relative;
    background-size: cover;
    z-index: 1; 
    margin-right: 0 !important;
}

.header-container::before{
    position: absolute;
    content: "";
    top:0;
    width: 100%;
    right: 0;
    height: 100%;
    background: rgb(12, 11, 27);
    opacity: .8;
    z-index: -9; 
    margin-right: 0 !important;
};
